<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

    <xacro:macro name="imu_macro" params="namespace">
    
        <link name="imu_link"/>

        <joint name="imu_to_payload" type="fixed">
            <parent link="base_link"/>
            <child link="imu_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <gazebo reference="imu_link">
            <sensor name="imu" type="imu">
                <always_on>1</always_on>
                <update_rate>4</update_rate>
                <visualize>true</visualize>
               
                <enable_metrics>true</enable_metrics>
                <ignition_frame_id>${namespace}/imu_link</ignition_frame_id>
                <gz_frame_id>${namespace}/imu_link</gz_frame_id>
            </sensor>
        </gazebo>

        <gazebo>
            <plugin filename="libignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu"/>
        </gazebo>

    </xacro:macro>

</robot>
