<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

<xacro:include filename="$(find rover_description_pkg)/urdf/rover_macro.xacro"/>
<xacro:include filename="$(find rover_description_pkg)/urdf/utilities.xacro"/>
<xacro:include filename="$(find rover_description_pkg)/urdf/rover_gazebo.xacro"/>

<xacro:arg name="is_sim" default="true"/>

<link name="base_footprint">
</link>

<xacro:rover_base_frame parent_link="base_footprint"/>

<!-- if it is in simulation -->
    <xacro:rover_wheels_sim left_joint="diff_drive_l_joint" right_joint="diff_drive_r_joint"/>
    <xacro:gazebo_diff_drive_controller left_joint="diff_drive_l_joint" right_joint="diff_drive_r_joint"/>
    <xacro:gazebo_wheel_contact/>
    <xacro:lidar_gazebo_sensor laser_frame="lidar_link" laser_topic="scan"/>
    <xacro:camera_gazebo camera_base_frame="camera_link" camera_topic="camera" camera_info_topic="camera_info"/>
    
</robot>
