<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="utilities">

    <xacro:property name="PI" value="3.1415926535"/>
    <xacro:property name="HALF_PI" value="1.5707963268"/>

    <xacro:macro name="cylinder_inertia" params="radius length mass">
        <inertia ixx="${mass * (3 * radius * radius + length * length) / 12}" iyy="${mass * radius* radius / 2}" izz="${mass * (3 * radius * radius + length * length) / 12}" ixy="0" iyz="0" ixz="0"/>
    </xacro:macro>
    
    <xacro:macro name="sphere_inertia" params="radius mass">
        <inertia ixx="${2/5*mass*radius*radius}" iyy="${2/5*mass*radius*radius}" izz="${2/5*mass*radius*radius}" ixy="0" iyz="0" ixz="0"/>
    </xacro:macro>

    <xacro:macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
              iyy="${m*(x*x+z*z)/12}" iyz = "0"
              izz="${m*(x*x+z*z)/12}" /> 
    </xacro:macro>

</robot>